*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
/* блок с контентом  */
.content{
   width: 100%;
   height: 181px;
   background-color: #F7654A;
   color: aliceblue;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20%;
}
/* кнопка с отправкой  */
.messenge{
   width: 160px;
   height: 49px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 14px;
}
/*блок строительными эллементами  */
   .worked{
   height: 939px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.worked_dateils{
   width: 65%;
   height: 639px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   text-align: center;
}
.building_icons{
   height: 375px;
   display: flex;
   gap: 30px;
   flex-wrap: wrap;
}
.build{
   /* display: flex; */
   width: 272px;
   height: 172px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 10px;
   background-color: #f7f7f7;
}
/* картины с зданием  */
.background_build{
   width: 100%;
   height: 570px;
   background-image: url(img/building.png);
   background-size: 25%;
}
/* Ответы на вопросы */
.answer_ques{
   font-size: 36px;
   text-align: center;
   margin-bottom: 50px;
}
.answer{
   margin: 100px 0 100px 220px;
}
.p_ques{
   color: #f7654a;
   font-size: 24px;
}
.p_lorem{
   width: 640px;
}
.queshions{
   display: flex;
   gap: 20px;
   flex-direction: column;
}
/* блоки с контактами  */
.contacts{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 450px;
   flex-direction: column;
}
.contact_data{
   display: flex;
   margin-top: 6%;
}
.contact_details{
   width: 210px;
   text-align: center;
   gap: 10%;
   height: 140px;
   flex-direction: column;
   justify-content: center;
   display: flex;
   align-items: center;
}
.certificate{
   width: 100%;
   background-color: #404149;
   height: 55px;
   color: #fff;
   display: flex;
   justify-content: space-around;
   align-items: center;
}