*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
/* блок с контентом  */
.content{
   width: 100%;
   height: 181px;
   background-color: #F7654A;
   color: aliceblue;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20%;
}
/* кнопка с отправкой  */
.messenge{
   width: 160px;
   height: 49px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 14px;
}
/*блок строительными эллементами  */
   .worked{
   height: 939px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.worked_dateils{
   width: 65%;
   height: 639px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   text-align: center;
}
.building_icons{
   height: 375px;
   display: flex;
   gap: 30px;
   flex-wrap: wrap;
}
.build{
   /* display: flex; */
   width: 272px;
   height: 172px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 10px;
   background-color: #f7f7f7;
}
/* картины с зданием  */
.background_build{
   width: 100%;
   height: 570px;
   background-image: url(img/building.png);
   background-size: 25%;
}