*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
header{
   background-image: url(./img/Rectangle.png);
   background-repeat: no-repeat;
   background-size: 100%;
}
div{
   color: aqua;
}
/* блок с контентом  */
.content{
   width: 100%;
   height: 181px;
   background-color: #F7654A;
}